.thirdPart {
    background: #353535;

    height: 70vh;

    text-transform: uppercase;

    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.thirdPart .partTitle {
    font-size: 3em;

    text-align: center;

    padding-top: 1em;
}

.thirdPart .partTags {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 99vw;

    padding-top: 1em;
}

.thirdPart .partTags p {
    color: #AA9261;

    text-align: center;

    width: 50em;
}

.thirdPart .partImages {
    display: flex;

    justify-content: center;
    align-items: center;

    padding-top: 2em
}


.thirdPart .partImages img {
    padding-left: 1em;
    padding-right: 1em;
}